.css-1bped5o-MuiBottomNavigation-root {
    width: 100% !important;
    border-top: 1px solid #ddd;
}
.css-1juivf6-MuiTypography-root {
    font-family: $font-family !important;
}
.book-content {
    height: 100%;
    padding: 16px 16px 80px  16px;    
    max-width: 1280px;
    margin: 0 auto;    
    div, button {
        font-family: $font-family !important;
    }
}
