.sign__wrap {
    padding: 16px;
    .join-form {
        display: flex;
        flex-direction: column;
        gap: 12px;
        @media #{$desktop} {
            width: rem(600px);
            margin:0 auto;
        }         
        label.title {
            display: block;
        }
    }
    .button__wrap {
        padding-top: 32px;;
    }
}